:root {
  --background-color-1: #211e32;
  --background-color-2: #3b3355;
  --background-color-3: #1d1b29;

  --button-color-normal: #6939f4;
  --button-color-highlight: #f4b239;
  --button-color-danger: #c02d76;

  --border-color-1: #312d49;
}
